#main-div {
  display: table;
}

.vertical-note-div {
  border: 1px solid black;
  height: 30px;
  display: table-row;
}

.horizontal-note-div {
  border: 1px solid black;
  width: 60px;
  display: inline;
  display: table-cell;

}

button {
  height: 30px;
  width: 60px;
  padding: 0px;
  margin: 1px;
  /* padding: 14px; */
  border: 1px solid black;
}